@property --property-color-light {
  syntax: '<color>';
  inherits: true;
  initial-value: hsl(180 5 85);
}

@property --property-color-dark {
  syntax: '<color>';
  inherits: true;
  initial-value: hsl(180 5 85);
}
