/*TODO: Change the file import dir*/
@import '../utilities/index.css';

.btn {
  --property-color-light: var(--default-bg-color);
  --property-color-dark: var(--default-bg-color);

  @apply h-8;
  @apply inline-flex-center gap-1.5;
  @apply relative z-[1];
  @apply text-sm font-medium text-black;
  @apply bg-common-gradient bg-origin-border;
  @apply rounded border border-solid border-transparent;
  @apply px-[15px] py-0;
  @apply transition-btn;

  /* gradient border */
  &::before {
    --property-color-light: inherit;
    --property-color-dark: inherit;

    @apply content-[''];
    @apply bg-common-gradient bg-origin-border;
    @apply rounded-[inherit] border border-solid border-transparent;
    @apply absolute inset-[-1px] z-[-1];
    @apply mask-btn-border;
  }

  /* TODO: Simplify code by writing postcss mixins */
  &:not(:disabled, [disabled], .btn-disabled):hover {
    --property-color-light: darken(var(--default-bg-color));
    --property-color-dark: darken(var(--default-bg-color));
  }

  &:active {
    @apply scale-[0.97];
  }

  & + .btn {
    @apply ml-3;
  }

  &-info {
    @apply text-white;
    --property-color-light: var(--info-color-light);
    --property-color-dark: var(--info-color-dark);

    &:not(:disabled, [disabled], .btn-disabled):hover {
      --property-color-light: darken(var(--info-color-light));
      --property-color-dark: darken(var(--info-color-dark));
    }
  }

  &-success {
    @apply text-white;
    --property-color-light: var(--success-color-light);
    --property-color-dark: var(--success-color-dark);

    &:not(:disabled, [disabled], .btn-disabled):hover {
      --property-color-light: darken(var(--success-color-light));
      --property-color-dark: darken(var(--success-color-dark));
    }
  }

  &-warning {
    @apply text-white;
    --property-color-light: var(--warning-color-light);
    --property-color-dark: var(--warning-color-dark);

    &:not(:disabled, [disabled], .btn-disabled):hover {
      --property-color-light: darken(var(--warning-color-light));
      --property-color-dark: darken(var(--warning-color-dark));
    }
  }

  &-error {
    @apply text-white;
    --property-color-light: var(--error-color-light);
    --property-color-dark: var(--error-color-dark);

    &:not(:disabled, [disabled], .btn-disabled):hover {
      --property-color-light: darken(var(--error-color-light));
      --property-color-dark: darken(var(--error-color-dark));
    }
  }
}

/* TODO: add gradient text */
.btn-outline.btn {
  --property-color-light: transparent;
  --property-color-dark: transparent;

  &:before {
    --property-color-light: var(--default-bg-color);
    --property-color-dark: var(--default-bg-color);
  }

  &-info {
    @apply text-[var(--info-color)];

    &:before,
    &:not(:disabled, [disabled], .btn-disabled):hover {
      @apply text-white;
      --property-color-light: var(--info-color-light);
      --property-color-dark: var(--info-color-dark);
    }
  }

  &-success {
    @apply text-[var(--success-color)];

    &:before,
    &:not(:disabled, [disabled], .btn-disabled):hover {
      @apply text-white;
      --property-color-light: var(--success-color-light);
      --property-color-dark: var(--success-color-dark);
    }
  }

  &-warning {
    @apply text-[var(--warning-color)];

    &:before,
    &:not(:disabled, [disabled], .btn-disabled):hover {
      @apply text-white;
      --property-color-light: var(--warning-color-light);
      --property-color-dark: var(--warning-color-dark);
    }
  }

  &-error {
    @apply text-[var(--error-color)];

    &:before,
    &:not(:disabled, [disabled], .btn-disabled):hover {
      @apply text-white;
      --property-color-light: var(--error-color-light);
      --property-color-dark: var(--error-color-dark);
    }
  }
}

.btn {
  &-lg {
    @apply h-10;
    @apply px-[19px];
    @apply text-base;
  }

  &-sm {
    @apply h-6;
    @apply px-[11px];
    @apply text-sm;
  }

  &-xs {
    @apply h-5;
    @apply px-[7px];
    @apply text-xs;
  }
}

.btn-circle.btn {
  @apply h-8 w-8;
  @apply rounded-full;
  @apply p-0;

  &-lg {
    @apply h-10 w-10;
  }

  &-sm {
    @apply h-6 w-6;
  }

  &-xs {
    @apply h-5 w-5;
  }
}

.btn {
  &[disabled],
  &:disabled,
  &.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:active {
      @apply scale-100;
    }
  }
}
