.select {
  --property-color-light: var(--default-bg-color);
  --property-color-dark: var(--default-bg-color);

  @apply h-8 w-60;
  @apply relative z-[1];
  @apply text-sm font-medium text-black;
  @apply rounded border border-solid border-transparent;
  @apply px-[11px];
  @apply property-transition;
  @apply cursor-pointer;
  @apply flex items-center gap-2;

  /*The double-layer background achieves a rounded gradient border*/
  background:
      linear-gradient(white, white) padding-box,
      linear-gradient(to right, var(--property-color-light), var(--property-color-dark)) border-box;

  &:not(:disabled, [disabled], .select-disabled) {
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:active {
      --property-color-light: var(--default-bg-hover-color);
      --property-color-dark: var(--default-bg-hover-color);

      outline: unset;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
      @apply c-shadow;
    }
  }

  @supports (appearance: base-select) {
    appearance: base-select;

    &::picker(select) {
      @apply my-2 p-2 border-0 rounded-lg;
      appearance: base-select;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .1);
    }
  }

  /*&::picker-icon {*/
  /*  @apply hidden;*/
  /*}*/

  option {
    @apply px-3 py-1.5 rounded-sm;
    transition: color, background-color 0.2s ease;

    &:not(:disabled) {
      &:hover,
      &:focus-visible {
        @apply cursor-pointer outline-hidden;
      }
    }
  }
}
