.slider {
  appearance: none;
  -webkit-appearance: none;
  @apply h-6 w-80;
  @apply cursor-pointer overflow-hidden bg-transparent align-middle;
  border: none;
  border-radius: 12px;

  /*reference: https://github.com/saadeghi/daisyui/blob/master/packages/daisyui/src/components/range.css*/
  &::-webkit-slider-runnable-track {
    appearance: none;
    @apply h-3;
    @apply w-full;
    @apply rounded-full;
    background-color: #00000033;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    @apply relative box-border;
    @apply h-6 w-6;
    border: 4px solid;
    top: 50%;
    border-radius: 12px;
    color: currentColor;
    background: currentColor;
    transform: translateY(-50%);
    box-shadow: /* Amazing!! */
        0 0 0 2rem #fff inset,
        calc((1 * -100rem) - (1 * 24px / 2)) 0 0 calc(100rem * 1);
  }
}
