@utility flex-center {
  @apply flex items-center justify-center;
}

@utility inline-flex-center {
  @apply inline-flex items-center justify-center;
}

@utility property-transition {
  transition:
    all 200ms,
    transform 0ms,
    --property-color-light 400ms,
    --property-color-dark 400ms;
}

@utility mask-btn-border {
  mask:
    linear-gradient(#fff, #fff) border-box subtract,
    linear-gradient(#fff, #fff) content-box;
}

@utility bg-common-gradient {
  background-image: linear-gradient(to right, var(--property-color-light), var(--property-color-dark));
}

